<h1>Stupid Coaching</h1>


<div class="question">
  <h3><%=  @question %></h3>
  <h3>- Me</h3>
</div>


<div class="answer">
  <h3><%=  @answer %></h3>
  <h3>- Coach</h3>
</div>

<%= link_to "Ask a new question", root_path %>
